<%= render 'shared/title', title: 'New Post'%>

<div class="well col-md-6">
  <% flash.each do |key, value| %>
    <% if key == "errornewpost"%>
      <div class="alert alert-danger" role="alert" style="color:red"><%= value %></div>
    <% end %>
  <% end %>

  <%= form_for @post do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <sup class="required" title="Required" style="color:red">*</sup>
      <br>
      <%= f.text_field :title, size: "70"%>
    </div>
    <div class="form-group">
      <%= f.label :content %>
      <sup class="required" title="Required" style="color:red">*</sup>
      <br>
      <%= f.text_area :content, size: "70x10" %>
    </div>
    <div class="form-group">
      <%= f.label :categories %>
      <br>
      <%= collection_check_boxes(:post, :category_ids, Category.all, :id, :title) do |cbox|%>
      <%= cbox.label(class: "checkbox-inline") { cbox.check_box(class: "checkbox") + cbox.text } %>
      <% end %>
    </div>
  <br>
    <%= f.submit(@post.new_record? ? 'Create Post' : 'Update Post', class: 'btn btn-primary') %>
    &nbsp;&nbsp;&nbsp;
    <%= link_to 'Back to Post List', posts_path ,class: 'btn btn-danger'%>
  <% end %>
</div>

