<% flash.each do |key, value| %>
  <% if key == "errorcomment"%>
    <div class="alert alert-danger alert-dismissible" role="alert" style="color:red">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    <%= value %>
  </div>
  <% end %>
<% end %>

<%= render 'shared/title', title: "#{@post.title}"%>

<div class="row">
  <div class="col-md-8 well">
    <%= render partial: "categories/category", collection: @post.categories %>
    <h3><%= @post.title %></h3>
    <p>
      <%= @post.content %>
    </p>
    <br>
    <small>posted by </small><%= " #{@post.user.name}" %>
  </div>
</div>

<h4>All Comments:</h4>

<% @post.comments.each do |comment| %>
  <div class="row">
    <div class="well col-md-6">
      <p>
        <%= comment.content %>
      </p>
      <br>
      <small>commented by </small><%= "#{comment.user.name}" %>
    </div>
  </div>
<% end %>

<% if logged_in? %>

  <h4>Leave a comment:</h4>
  <%= form_for [@post, @comment] do |f| %>
    <div class="row">
      <%= f.text_area :content, rows: 3, size: "70x5" %>
      <br>
      <%= f.submit 'Create Comment', class: 'btn btn-primary' %>
      &nbsp;&nbsp;&nbsp;
      <%= link_to 'Go back to all posts', posts_path ,class: 'btn btn-danger'%>
      <p>
    </div>
  <% end %>

<% end %>
